@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

body {
  background-color: #343a40;
  margin: 0px;
}

img {
  width: 60px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  cursor: pointer;
}
.topnav {
  background-color: #333333;
}

.topnav a {
  display: inline-block;
  overflow: hidden;
  color: #cfdcee;
  padding: 10px 12px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: none;
}

.topnav a:hover {
  opacity: 0.6;
}

h1 {
  text-align: center;
  color: #b4c9e4;
  font-family: "Ubuntu", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
  word-break: break-word;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #272727;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 50px;
  font-size: 15px;
}
h1 {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  padding: 25px;
}
h2 {
  font-size: 25px;
  font-weight: normal;
  width: 50%;
  margin: auto auto 30px;
  text-align: center;
}
.media * {
  margin: 30px auto;
  display: block;
}
.button {
  font-family: "Roboto Mono", monospace;
  display: block;
  margin: 30px auto 0px;
  text-transform: uppercase;
  background-color: white;
  color: #272727;
  padding: 30px;
  font-size: 20px;
  width: 50%;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: transform 0.25s;
}
.button:hover {
  transform: scale(1.05);
}
.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}
.post {
  text-decoration: none;
  background-color: #008066;
  color: #272727;
  width: 25%;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.25s;
  margin: 30px;
  align-self: flex-start;
}
.post:hover {
  transform: scale(1.05);
}
.post img {
  width: 100%;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 5px solid #008066;
}
.info {
  padding: 10px 20px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
kbd {
  font-family: "Roboto Mono", monospace;
  background-color: #eeeeee;
  padding: 2px 5px;
}
.headline {
  font-size: 25px;
  margin: 5px 0px;
}
.date {
  font-family: "Roboto Mono", monospace;
  color: #727272;
  margin: 5px 0px;
}
.text {
  background-color: white;
  color: #272727;
  border-radius: 15px;
  width: 100%;
  padding: 50px;
}
.text .date {
  font-size: 20px;
  text-align: center;
}
.text .media {
  width: 50%;
  border-radius: 15px;
  margin: auto;
  background-color: #008066;
}
.text .media * {
  width: 100%;
  display: block;
  border-radius: 15px;
  border: 5px solid #008066;
}
.text p {
  text-indent: 25px;
}
.text p,
.text ul {
  font-size: 20px;
  width: 50%;
  margin: 30px auto;
}
.text ul li {
  list-style-position: inside;
}
.text code {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  display: block;
  width: 50%;
  word-break: break-all;
  background-color: #eeeeee;
  margin: auto auto 30px;
  padding: 15px;
  border-radius: 15px;
}
.text code span {
  padding-left: 1em;
}
.text a:not(.button) {
  color: #008066;
  transition: color 250ms;
}
.text a:not(.button):hover {
  color: black;
}
.text .button {
  background-color: #008066;
  color: white;
}
@media (max-width: 1300px) {
  body {
    padding: 30px;
  }
  h1 {
    font-size: 70px;
  }
  .post {
    width: 40%;
  }
  h2,
  .text *:not(h1, h2, .date, .media *) {
    width: 80%;
  }
}
@media (max-width: 800px) {
  body,
  .text {
    padding: 15px;
  }
  h1 {
    font-size: 40px;
  }
  .post,
  h2,
  .button,
  .text * {
    width: 100% !important;
  }
  .text p {
    text-indent: 0px;
  }
  .post {
    margin: 15px;
  }
}
.turbolinks-progress-bar {
  background: #008066;
  height: 5px;
}
