@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

body {
  background-color: #343a40;
  margin: 0px;
}

img {
  width: 60px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  cursor: pointer;
}
.topnav {
  background-color: #333333;
}

.topnav a {
  display: inline-block;
  overflow: hidden;
  color: #cfdcee;
  padding: 10px 12px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: none;
}

.topnav a:hover {
  opacity: 0.6;
}

h1 {
  text-align: center;
  color: #b4c9e4;
  font-family: "Ubuntu", sans-serif;
}

.container{
  width: 25%
}

.backgroundImg{
  width: 100%;
}
      .example {
        position: relative;
        padding: 0;
        width: 300px;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .info {
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        color: #1c87c9;
        background-color: rgba(200, 200, 200, 0.5);
        width: 300px;
        height: 300px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
      .example .info:hover {
        opacity: 1;
      }
      .example .info p {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .example .info:hover p {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }


