body{
  background-color: #343a40;
  margin: 0px;
}

.navbar{
  display: block;
  font-size: 35px;
  background-color: #E4EDF6;
  cursor: pointer;
  color: black;
  padding-top: 5px;
  
}

a{
  padding-left: 10px;
}
img{
  width: 75px;
  padding-left: 5px;
}