body {
  padding: 60px 100px;
  margin: auto;
  color:black;
  background-color: #964B00;
}
@font-face {
  font-family: lucid;
  src: url("https://cdn.glitch.global/e23c6d22-e86e-4765-a3d2-14f786559329/Euclid%20Circular%20A%20Medium.ttf?v=1651332812845");
}
h1 {
  text-align: center;
  font-family: lucid;
  color:#070D0D;

  font-size: 40px;
}
p {
  text-align: center;
  font-size: 22px;
  font-family: "Radio Canada", sans-serif;
  margin-left: 150px;
  margin-right: 150px;
}
.date {
  font-size: 20px;
  font-family: "Radio Canada", sans-serif;
}
img {
  border: 2px solid #070D0D;
  width: 50vw;
  border-radius: 30px;
  display: block;
  margin: auto;
}
pre {
  font-size: 15px;
  display: block;
  width: 70%;
  background-color: #eeeeee;
  margin: auto auto 30px;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  overflow: auto;
}
span {
  padding-left: 1em;
}
