body{
  padding: 75px;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
img{
  border: 5px solid #ff8c00;
}

.imgExample{
  width: 25vw;
  border-radius: 30px;
  margin: auto;
}

table{
  margin: 25px;
}