body{
  padding: 60px 100px;
  margin: auto;
}
h1{
  text-align: center;
  font-size: 60px;
}
p{
  text-align: center;
  font-size: 30px;
  font-family: 'Radio Canada', sans-serif;
  margin-left: 150px;
  margin-right: 150px;
}
.date{
  font-size: 20px;
  font-family: 'Radio Canada', sans-serif;
}
img{
  border: 5px solid #ff8c00;
  width: 50vw;
  border-radius: 30px;
  display: block;
  margin: auto;
}